@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.list-border {
  border: 1px solid #55828b;
  border-radius: 16px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: #201A23;
  }

  #app {
    padding: 0 2rem;
    background-color: #201A23;
  }
}
